#monPanneau, .filtre {
    -fx-background-radius: 40;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759);
}

.button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.button:hover {
    -fx-text-fill: black;
    -fx-background-radius: 40;
    -fx-background-color: white;
    -fx-font-weight: bold;
}

.button:pressed {
    -fx-background-radius: 40;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-font-weight: bold;
}
#initialesText, #prenomText, #nomText, #fonctionText {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.Menubtn{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.Menubtn:hover {
    -fx-background-radius: 40;
    -fx-background-color: white;
}


.menu-item .label {
    -fx-pref-width: 170px;
}



.Menubtn .label {
    -fx-text-fill: white;
}

.Menubtn:hover .label{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.Menubtn:hover .{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
