.sidebar-margin {
    -fx-padding: 0 0 50 10;
}

.sidebar {
-fx-background-color: #2E3C49;
-fx-background-radius: 40;
-fx-background-insets: 0;
}

.PanePere{
    -fx-background-color:#1D2733;
}

.sidebar-margin .button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.sidebar-margin .button:hover {
    -fx-text-fill: black;
    -fx-background-radius: 40;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759);
    -fx-font-weight: bold;
}

.sidebar-margin .button:pressed {
    -fx-text-fill: black;
    -fx-background-radius: 40;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759);
    -fx-font-weight: bold;
}

.header .button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.optionJour{
-fx-background-color: #2E3C49;
-fx-background-radius: 40;
-fx-border-color:linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759);
-fx-border-radius: 40;
-fx-background-insets: 0;
-fx-border-width: 3;
}


.container-icon{
-fx-background-color:white;
-fx-background-radius:40;
-fx-border-width: 10;
-fx-border-radius: 40;
}
.gradient-border{
-fx-background-color:linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759);
-fx-background-radius:40;
-fx-border-width: 10;
-fx-border-radius: 40;
}

.line-color{
 -fx-stroke: linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759);

}
.header .button:hover {
    -fx-text-fill: black;
    -fx-background-radius: 40;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759);
    -fx-font-weight: bold;
}

.header .button:pressed {
    -fx-text-fill: black;
    -fx-background-radius: 40;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759);
    -fx-font-weight: bold;
}
.Menubtn{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.Menubtn:hover {
    -fx-background-radius: 40;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759);
}


.menu-item .label {
    -fx-pref-width: 170px;
}



.Menubtn .label {
    -fx-text-fill: white;
}

.Menubtn:hover .label{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#initialesText {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
#prenomText, #nomText, #fonctionText {
    -fx-text-fill:white;
    -fx-font-weight: bold;
}