.root {
    -fx-font-family: 'Arial';
}

.week-label {
    -fx-text-alignment: center;
    -fx-alignment: center;
}

/* Style par défaut (mode clair) */
.button {
    -fx-background-color: lightgray;
}

/* Mode sombre */
.root.dark-mode {
    -fx-base: black;
    -fx-background-color: #333;
}

.root.dark-mode .label {
    -fx-text-fill: white;
}

.root.dark-mode .button {
    -fx-background-color: darkgray;
}
.row-color-0  {
}


.row-color-1 {
    -fx-border-color: #0097B2 #0097B2 transparent transparent; /* Rouge en haut, transparent ailleurs */
    -fx-border-width: 2 2 0 0; /* Épaisseur de la bordure uniquement en haut */
    -fx-border-style: solid; /* Bordure solide */
}

.row-color-2 {
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759) #0097B2 transparent transparent; /* Rouge en haut, transparent ailleurs */
    -fx-border-width: 1 2 0 0; /* Épaisseur de la bordure uniquement en haut */
    -fx-border-style: dashed solid; /* Bordure en pointillés */
}
.row-color-last {
    -fx-border-color: #0097B2 transparent transparent transparent; /* Rouge en haut, transparent ailleurs */
    -fx-border-width: 2 0 0 0; /* Épaisseur de la bordure uniquement en haut */
    -fx-border-style: solid; /* Bordure en pointillés */
}
.semaineBtn {
    -fx-background-radius: 50%; /* Rend les coins parfaitement arrondis, créant une forme circulaire */
    -fx-min-width: 25px; /* Largeur minimale du bouton */
    -fx-min-height: 25px; /* Hauteur minimale du bouton */
    -fx-max-width: 25px; /* Largeur maximale pour garantir une forme circulaire */
    -fx-max-height: 25px; /* Hauteur maximale pour garantir une forme circulaire */
    -fx-background-color: #0097B2 ; /* Couleur de fond du bouton */
    -fx-background-insets: 0; /* Ajuste les marges intérieures du fond */
    -fx-padding: 0; /* Ajuste le remplissage pour le texte ou l'icône dans le bouton */
    -fx-border-color: #0097B2 ;/* Couleur de la bordure du bouton */
    -fx-border-width: 1; /* Épaisseur de la bordure du bouton */
    -fx-border-radius: 50%; /* Bordure arrondie pour correspondre à l'arrière-plan arrondi */
    -fx-text-fill: #333333; /* Couleur du texte du bouton */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-text-fill: white;
}
.jourEcrit{
    -fx-text-fill: #0097B2 ;
}
.labelHeure{
    -fx-text-fill: #0097B2 ;
    -fx-font-weight: bold; /* Texte en gras */
    -fx-font-size: 9px;
}
.labelJour{
    -fx-text-fill: #0097B2 ;
    -fx-font-weight: bold; /* Texte en gras */
    -fx-font-size: 14px;
}
.semaineGrille{
    -fx-background-color:white;
}
.semainetitre{
    -fx-text-fill: #7BD759; /* Couleur du texte du bouton */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}