.row-color-0  {
}


.Jour{
    -fx-border-color: #0097B2 #0097B2 transparent transparent;
    -fx-border-width: 2 2 0 0;
    -fx-border-style: solid;
}

.row-color-2 {
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759) #0097B2 transparent transparent;
    -fx-border-width: 1 2 0 0;
    -fx-border-style: dashed solid;
}
.row{
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759) linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759) linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759) linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759);
    -fx-border-width: 1 1 1 1;
    -fx-border-style: solid;
}
.moisBtn {
    -fx-background-radius: 50%;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-max-width: 25px;
    -fx-max-height: 25px;
    -fx-background-color: #0097B2 ;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: #0097B2 ;
    -fx-border-width: 1;
    -fx-border-radius: 50%;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.jourEcrit{
    -fx-text-fill: #0097B2 ;
        -fx-font-weight: bold;
        -fx-font-size: 14px;
}
.labelHeure{
    -fx-text-fill: #0097B2 ;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.labelJour{
    -fx-text-fill: #0097B2 ;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.semaineGrille{
    -fx-background-color:white;
}
.moistitre{
    -fx-text-fill: #7BD759;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.event-tp {
    -fx-background-color: #FFA07A;
}

.event-cm {
    -fx-background-color: #7FFFD4;
}

.event-td {
    -fx-background-color: #ADD8E6;
}

.event-evaluation {
    -fx-background-color: #FA8072;
}

.event-autre {
    -fx-background-color: #D3D3D3;
}
