.row-color-0  {
}


.row-color-1 {
    -fx-border-color: #0097B2 #0097B2 transparent transparent;
    -fx-border-width: 2 2 0 0;
    -fx-border-style: solid;
}

.row-color-2 {
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #0097B2, #7BD759) #0097B2 transparent transparent;
    -fx-border-width: 1 2 0 0;
    -fx-border-style: dashed solid;
}
.row-color-last {
    -fx-border-color: #0097B2 #0097B2 #0097B2 transparent;
    -fx-border-width: 1 2 2 2;
    -fx-border-style: solid;
}
.semaineBtn {
    -fx-background-radius: 50%;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-max-width: 25px;
    -fx-max-height: 25px;
    -fx-background-color: #0097B2 ;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: #0097B2 ;
    -fx-border-width: 1;
    -fx-border-radius: 50%;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.jourEcrit{
    -fx-text-fill: #0097B2 ;
}
.labelHeure{
    -fx-text-fill: #0097B2 ;
    -fx-font-weight: bold;
    -fx-font-size: 9px;
}
.labelJour{
    -fx-text-fill: #0097B2 ;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.semainetitre{
    -fx-text-fill: #7BD759;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.event-tp {
    -fx-background-color: rgba(255, 160, 122, 0.4);
    -fx-text-fill: black;
    -fx-border-color:rgba(255, 160, 122, 1);
}

.event-cm {
    -fx-background-color: rgba(127, 255, 212,  0.5);
    -fx-text-fill: black;
    -fx-border-color:rgba(127, 255, 212,  1);
}

.event-td {
    -fx-background-color: rgba(173, 216, 230, 0.5);
    -fx-border-color: rgba(173, 216, 230, 1);
    -fx-text-fill: black;
}

.event-evaluation {
    -fx-background-color: rgba(250, 128, 114, 0.5);
    -fx-border-color: rgba(250, 128, 114, 1);
    -fx-text-fill: black;
}

.event-autre {
    -fx-background-color: rgba(211, 200, 200,0.5);
     -fx-border-color: rgba(211, 200, 200, 1);
    -fx-text-fill: black;
}
.event-allday{
-fx-background-color: rgba(211, 150, 200, 0.7);
}